<html> 
<head> 
	<title>Rentas de peliculas</title> 
</head> 
<body> 
	<h1>Menu Principal</h1> 
    <a href="/category">Categorias</a>
    <br/>
    <a href="/film_category">Peliculas por Categoria</a>
    <br/>
    <a href="/film">Peliculas</a>
    <br/>
    <a href="/language">Lenguajes</a>
    <br/>
    <a href="/inventory">Inventario</a>
    <br/>
    <a href="/customer">Clientes</a>
    <br/>
    <a href="/payment">Payment</a>
    <br/>
    <a href="/address">Direcciones</a>
</body> 
</html> 
