<html> 
<head> 
	<title>Rentas de pelicul</title> 
</head> 
<body> 
	<h1>Lenguajes</h1> 
	<table> 
        <thead> 
            <tr> 
            <th>ID</th> 
            <th>Lenguaje</th> 
            <th>Actualización</th>  
            </tr> 
        </thead> 
        <tbody> 
            {% for row in data %} 
            <tr> 
                <td style="border:1px solid black">{{ row[0] }}</td> 
                <td style="border:1px solid black">{{ row[1] }}</td> 
                <td style="border:1px solid black">{{ row[2] }}</td> 
                <td style="border:1px solid black"> 
                    <form action="/language/update" method="post"> 
                        <input type="hidden" name="category_id" value="{{ row[0] }}"> 
                        <input type="text" name="name" value="{{ row[1] }}"> 
                        <input type="submit" value="Actualizar"> 
                    </form> 
                    <form action="/language/delete" method="post"> 
                        <input type="hidden" name="category_id" value="{{ row[0] }}"> 
                        <input type="submit" value="Borrar"> 
                    </form> 
                </td> 
            </tr> 
            {% endfor %} 
        </tbody> 
	</table> 
	<h2>Añade un nuevo Lenguaje</h2> 
    <form action="/language/create" method="post"> 
        <input type="text" name="name" placeholder="Lenguaje"> 
        <input type="submit" value="Crear"> 
	</form> 
</body> 
</html> 
